/* http://paletton.com/#uid=53R0N0koE-v5kWogVJjwVskFmhS */

html {
background: #FAFAFE url("assets/background_tile2.png") 25px 25px repeat-y;
height: 100%;
}

h1,h2,h3,h4,h5,h6 {
	line-height: 1.15;
	margin-top: 5px;
	margin-bottom: 5px;
}

h1 {
    font-size: 3em;
	font-family: SketchBlock;
	text-size-adjust: auto;
  }
  
h2 {
    font-family: SketchBlock;
	text-size-adjust: auto;
}

/* Detect small screens, adjust accordingly */

/* @media screen and (max-width: 1400px) {

	.maintitle {
		font-size: 3.5em;
	}
}

@media screen and (max-width: 1100px) {
  h1 {
    font-size: 1.6em;
  }
  h2 {
	font-size: 1.17em;
  }
  h3 {
	font-size: 1.12em;
  }
  h4 {
	font-size: 1em;
  }
  
  .maintitle {
		font-size: 3em;
	}
}
 */

@media only screen and (max-width: 1080px) {

	.maintitle {
		font-size: 2em;
	}
	
	.mobile_hide {
		 display: none;
	}
	.mobile_show {
		 display: block;
	}
	
	h3{
		font-size: 2em;
	}
	#footer {
		font-size: 150%;
	}
	
	#research {
		margin-top: 0px;
	}
	
	#portfolio {
		margin-bottom: 0px;
	}
	
	footer {
		font-size: 150%;
	}
	
	research {
		margin-top: 0px;
	}
	
	portfolio {
		margin-bottom: 0px;
	}

}

@media only screen and (min-width: 1081px) {

	.maintitle {
		font-size: 3em;
	}
	
	.mobile_hide {
		 display: block;
	}
	.mobile_show {
		 display: none;
	}

}




@font-face {
  font-family: SketchTitle;
  src: url("fonts/sketchy/sketchy.ttf");
}

@font-face {
  font-family: SketchBlock;
  src: url("fonts/sketch_block/Sketch_Block.ttf");
}

#two_column {
    width:45%;
    margin-right:2%;
    float:left;
}
.two_c{
    float:left;
    margin-right:2%;
}

@keyframes flickerAnimation {
  0%   { opacity:1; }
  30%  { opacity:1; }
  50%  { opacity:0; }
  80%  { opacity:1; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  30%  { opacity:1; }
  50%  { opacity:0; }
  80%  { opacity:1; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  30%  { opacity:1; }
  50%  { opacity:0; }
  80%  { opacity:1; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  30%  { opacity:1; }
  50%  { opacity:0; }
  80%  { opacity:1; }
  100% { opacity:1; }
}

.maintitle {
	font-size: 3.7em;
	font-family:SketchTitle;
	width:75%;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right:0px;
}


.mainpage {
  padding-left: 0%;
  padding-right: 0%;
  padding-top: 0%;
  padding-bottom: 0%;
  text-align: center;
}

.padding {
  padding-left: 50px;
  padding-right: 1%;
  margin-top:2%;
  margin-bottom:2%;
}

.mainpage_container {
  min-width: 330px;
  max-width: 25%;
  object-fit: contain;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0%;
  padding-bottom: 0%;
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 0%;
  margin-bottom: 0%;
  display: flex;
}

#icon-container {
  display: flex;
  flex-wrap: wrap;
}

.mainpage_container:hover .disappear_on_hover {
  opacity: 0;
  transition: .2s ease-in-out;
  cursor: pointer;
}

.mainpage_container:hover .mainpage_overlay {
  opacity: 1;
}

.mainpage_image {
  display: inline-block;
}

.mainpage_overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .2s ease-in-out;
  /*background-color: #008CBA;*/
}

.magic {
  z-index: -1;
  position: absolute;
  top: calc(50% - 10rem);
  left: calc(50% - 10rem);
  width: 20rem;
  height: 20rem;
  /*background: white url("assets/main_background.jpg") fixed;*/
  display: none;
  border-radius: 50%;
  /*box-shadow: inset 0px 0px 10px rgba(0,0,0,.5);*/
  -webkit-mask-image:radial-gradient(circle at center, rgba(0,0,0,1) 0, rgba(0,0,0,.4) 50%, rgba(0,0,0,0) 100%);
}

body {
  /*
  background-color: #DOD7F3; // Sky blue
  background: -webkit-linear-gradient(#D0D7F3, #7084D2);
  background:    -moz-linear-gradient(#D0D7F3, #7084D2);
  background:         linear-gradient(#D0D7F3, #7084D2);
  */
  color: Black;
  width: 95%;
  height: 97%;
  font-size: 130%;
  padding-left: 0%;
  padding-right: 0%;
  padding-top: 0%;
  padding-bottom: 0%;
  margin-bottom: 0px;
  margin-right: 50px;
  font-family: Garamond, Palatino, Georgia;
}

.float-body {
	/*float: left; */
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	min-width: 200px;
}

a {
  font-family: SketchBlock, Garamond, Palatino, Georgia;
  color: #3C54B9;
  text-decoration: underline;
  font-size: 85%;
}

a.visited {
  color: #5C0997;
}

a:hover {
  color: #7084D2;
}

a.visited:hover{
  color: #A569D1;
}

.buttonlink {
	background-color: transparent;
	text-decoration: none;
	background-color: #DDDDDD;
	border-radius: 30px 15px;
	font-size: 125%;
}

.buttonlink:hover {
	background-color: #CCCCCC;
}

img { /* scale images to screen */
	min-width: 64px;
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#outer-container {
	height: 94%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#footer {
    display: flex;
    margin-top: -1em;
}