/* http://paletton.com/#uid=53R0N0koE-v5kWogVJjwVskFmhS */

h1,h2,h3,h4,h5,h6 {
	line-height: 1.15;
	margin-top: 5px;
	margin-bottom: 5px;
}

h1 {
    font-size: 3em;
	font-family: SketchBlock;
  }
  
h2 {
    font-family: SketchBlock;
}

/* Detect small screens, adjust accordingly */

@media screen and (max-width: 1300px) {

	.maintitle {
		font-size: 4em;
	}
}

@media screen and (max-width: 1100px) {
  h1 {
    font-size: 1.6em;
  }
  h2 {
	font-size: 1.17em;
  }
  h3 {
	font-size: 1.12em;
  }
  h4 {
	font-size: 1em;
  }
  
  .maintitle {
		font-size: 3em;
	}
}

@media screen and (max-width: 700px) {

	.maintitle {
		font-size: 2em;
	}
}




@font-face {
  font-family: SketchTitle;
  src: url("fonts/sketchy/sketchy.ttf");
}

@font-face {
  font-family: SketchBlock;
  src: url("fonts/sketch_block/Sketch_Block.ttf");
}

#two_column {
    width:50%;
    margin-right:2%;
    float:left;
}
.two_c{
    float:left;
    margin-right:2%;
}

@keyframes flickerAnimation {
  0%   { opacity:1; }
  30%  { opacity:1; }
  50%  { opacity:0; }
  80%  { opacity:1; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  30%  { opacity:1; }
  50%  { opacity:0; }
  80%  { opacity:1; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  30%  { opacity:1; }
  50%  { opacity:0; }
  80%  { opacity:1; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  30%  { opacity:1; }
  50%  { opacity:0; }
  80%  { opacity:1; }
  100% { opacity:1; }
}

.maintitle {
	font-size: 5em;
	font-family:SketchTitle;
	width:75%;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right:0px;
}


.mainpage {
  padding-left: 0%;
  padding-right: 0%;
  padding-top: 0%;
  padding-bottom: 0%;
  text-align: center;
}

.padding {
  padding-left: 5%;
  padding-right: 10%;
  margin-top:2%;
  margin-bottom:2%;
}

.mainpage_container {
  float: left;
  position: relative;
  width: 25%;
  height: 20%;
  object-fit: contain;
  padding-left: 0%;
  padding-right: 0%;
  padding-top: 0%;
  padding-bottom: 0%;
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 0%;
  margin-bottom: 0%;
}

.mainpage_container:hover .disappear_on_hover {
  opacity: 0;
  transition: .2s ease-in-out;
  cursor: pointer;
}

.mainpage_container:hover .mainpage_overlay {
  opacity: 1;
}

.mainpage_image {
  display: block;
}

.mainpage_overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .2s ease-in-out;
  /*background-color: #008CBA;*/
}

body {
  /*
  background-color: #DOD7F3; // Sky blue
  background: -webkit-linear-gradient(#D0D7F3, #7084D2);
  background:    -moz-linear-gradient(#D0D7F3, #7084D2);
  background:         linear-gradient(#D0D7F3, #7084D2);
  */
  background-color: white;
  background-image:url("assets/website_tile.png");
  background-repeat: repeat;
  /*background-image:url("assets/main_background.jpg");*/
  background-size:cover;
  color: Black;
  width: 100%;
  font-size: 130%;
  padding-left: 0%;
  padding-right: 0%;
  padding-top: 0%;
  padding-bottom: 0%;
  font-family: Garamond, Palatino, Georgia;
}

.bubblelink {
  font-family: SketchBlock, Garamond, Palatino, Georgia;
  color: #3C54B9;
  background-color: #C0C0C0;
  border-radius: 30px 15px;
}

a {
  font-family: SketchBlock, Garamond, Palatino, Georgia;
  color: #3C54B9;
  background-color: #C0C0C0;
  border-radius: 20px;
  text-decoration: none;
}

a.visited {
  color: #5C0997;
}

a:hover {
  color: #7084D2;
}

a.visited:hover{
  color: #A569D1;
}

img { /* scale images to screen */
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}





















